html {
    background-color: rgb(12, 12, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.onSurface {
    color: white;
}

.onSurface.high {
    opacity: 0.87;
}

.onSurface.med {
    opacity: 0.6;
}


.surface {
    background-color: rgba(255, 255, 255, 0.05);
    margin: 10px;
}

.surfaceHover:hover {
    background-color: rgba(255, 255, 255, 0.09);
    box-shadow: 6px 6px 12px 0 #000000;
    right: 5px;
    bottom: 5px;
}


.button {
    border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button.primary {
    background-color: #0277bd;
}

.button.primary:hover {
    background-color: #3a82c0;
    cursor: pointer;
}

.link:hover {
    opacity: 0.8;
    cursor: pointer;
}